vendor
.DS_Store
**/.DS_Store
_site/public/
_db/
_logs/
.phpunit.cache/
.php-cs-fixer.cache
composer.dev.json
composer.dev.lock
_site/content/
_site/config/site.local.yaml
_site/config/menus.local.yaml
.crossroadsinit
_site/.git
